/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 320).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

/* Base styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Modal Styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type="text"] {
    width: 80%; /* Set the desired width */
    padding: 5px; /* Add some padding for aesthetics */
    margin: 10px 0;
}

.modal button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.modal-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center; /* Center align the text */
    color: black; /* Set the text color to black */
}

.modal-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: black; /* Set the text color to black */
}

/* Add styles for cancel and confirm buttons */
.modal-content .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/*.modal-content #cancelBtn,*/
.modal-content #confirmBtn {
    width: 48%; /* Adjust the width of buttons */
    padding: 10px 20px;
    cursor: pointer;
}

/*.modal-content #cancelBtn {*/
/*    background-color: #ddd;*/
/*    border-radius: 0.3rem;*/
/*}*/

.modal-content #confirmBtn {
    background-color: #4d4c99;
    border-radius: 0.3rem;
    color: white;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, #ffffff, #809fff); */
    background-color: #1E1E1E;
    /* background: linear-gradient(to right, #407FFF, #809fff); */
    /* background: linear-gradient(to right, #bfbfff, #8080ff);  */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

:focus {
    outline-color: #fa0;
}

/* Masthead */

.masthead {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    background-color: #fff;
    background: linear-gradient(to left, #1E1E1E, #4d4c99); 

    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.masthead .btn {
    background-color: #8080ff;
    border-radius: 0.3rem;
    transition: background-color 150ms;
}

.masthead .btn:hover {
    background-color: #3385b5;
}

.boards-menu {
    display: flex;
    flex-shrink: 0;
}

.boards-btn {
    flex-basis: 9rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin-right: 0.8rem;
    padding: 0.6rem 0.8rem;
}

.boards-btn-icon {
    font-size: 1.7rem;
    padding-right: 1.2rem;
}

.board-search {
    flex-basis: 18rem;
    position: relative;
}

.board-search-input {
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #bfbfff;
    width: 100%;
    padding: 0 3rem 0 1rem;
    color: #fff;
}

.board-search-input:hover {
    background-color: #66a4c8;
}

.search-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%) rotate(90deg);
    color: #fff;
}

.logo {
    flex: 1;
    font-family: "Courgette", cursive;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 2rem;
    transition: color 150ms;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.logo:hover {
    color: rgba(255, 255, 255, 0.8);
}

.logo-icon {
    padding-right: 0.4rem;
}

.user-settings {
    display: flex;
    height: 3rem;
    color: #fff;
}

.user-settings-btn {
    font-size: 1.5rem;
    width: 3rem;
    margin-right: 0.8rem;
}

.user-settings-btn:last-of-type {
    margin-right: 0;
}

/* Board info bar */

.board-info-bar {
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    padding: 0 1rem;
    color: #f6f6f6;
}

.board-controls {
    display: flex;
}

.board-controls .btn {
    margin-right: 1rem;
}

.board-controls .btn:last-of-type {
    margin-right: 0;
}

.board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 150ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
}

.board-info-bar .btn:hover {
    background-color: #006aa8;
}

.private-btn-icon,
.menu-btn-icon {
    padding-right: 0.6rem;
    white-space: nowrap;
}

.board-title h2 {
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}

/* Lists */

.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
    background-color: #66a3c7;
    border: 0.8rem solid #0079bf;
    border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #4d4c99;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list:last-of-type {
    margin-right: 0;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    background-color: #4d4c99;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    border: none;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}

.list-items::-webkit-scrollbar {
    width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
    border-right: 0.6rem solid #e2e4e6;
}

.list-items li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.list-items li:last-of-type {
    margin-bottom: 0;
}

.list-items li:hover {
    background-color: #eee;
}

.add-category-btn,
.add-card-btn {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
}

.add-category-btn:hover,
.add-card-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
    text-decoration: underline;
}


.add-list-btn {
    flex: 0 0 27rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #4d4c99;
    /* background: linear-gradient(to right, #4040ff, #3333cc);  */
    color: #fff;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 150ms;
    text-align: left;
}

.add-list-btn:hover {
    background-color: #3964E5;
}

.add-card-btn::after,
.add-list-btn::after {
    content: '...';
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
    body {
        display: grid;
        grid-template-rows: 4rem 3rem auto;
        grid-row-gap: 0.8rem;
    }

    .masthead {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 2rem;
    }

    .boards-menu {
        display: grid;
        grid-template-columns: 9rem 18rem;
        grid-column-gap: 0.8rem;
    }

    .user-settings {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 0.8rem;
    }

    .board-controls {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    .lists-container {
        display: grid;
        grid-auto-columns: 27rem;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
    }

    .list {
        display: grid;
        grid-template-rows: auto minmax(auto, 1fr) auto;
        border-radius: 5px;
    }

    .list-items {
        display: grid;
        grid-row-gap: 0.6rem;
    }

    .logo,
    .list,
    .list-items li,
    .boards-btn,
    .board-info-bar,
    .board-controls .btn,
    .user-settings-btn {
        margin: 0;
    }

  /* card styles */

  .card__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;
  }

  .card__item {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    padding: .5rem;
  }

  .card__tag {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    display: inline-block;
  }

  .card__image {
    width: 100%;
    margin-bottom: .25rem;
  }

  /* sticker colors */

  .card__tag--design {
    background-color: #61bd4f;
  }

  .card__tag--browser {
    background-color: #c377e0;
  }

  .card__tag--mobile {
    background-color: #f2d600;
  }

  .card__tag--high {
    background-color: #eb5a46;
  }

  .card__tag--low {
    background-color: #00c2e0;
  }

  .card__tag--date {
    background-color: gray;
  }

  .card__title {
    color: #17394d;
    margin-bottom: .75rem;
  }

  /* card actions */

  .card__actions {
    display: flex;
    align-items: center;
  }

  .card__actions--wrapper i {
    color: #798d99;
    margin-right: .5rem;
  }

  .card__actions--text {
    color: #798d99;
    font-size: .8rem;
    margin-left: -.25rem;
    margin-right: .5rem;
  }

  .card__avatars {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .card__avatars--item {
    margin-left: .25rem;
    width: 28px;
    height: 28px;
  }

  .avatar__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* show Member list */

.alert-list-wrapper,
.member-list-wrapper {
    max-width: 400px;
    margin: 50px auto;
}

.alert-list,
.member-list {
    background: #fff;
    border-radius: 10px;
    list-style: none;
    padding: 10px 10px;

}

.alert-list-item {
    display: flex;
    justify-content: space-between;
}
.member-list-item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.alert-list-item:last-child,
.member-list-item:last-child {
    border-bottom: none;
}

.member-list-item-image {
    border-radius: 50%;
    width: 64px;
}

.alert-list-item-content,
.member-list-item-content {
    margin-right: 5px;
    margin-left: 20px;
}

.alert-list-item-content h4,
.alert-list-item-content p,
.member-list-item-content h4,
.member-list-item-content p {
    margin: 0;
}

.alert-list-item-content h4,
.member-list-item-content h4 {
    color: #121212;
    margin-top: 10px;
    font-size: 18px;
}

.alert-list-item-content h5 {
    color: #121212;
    margin-top: 5px;
    font-size: 15px;
}

.alert-list-item-content p,
.member-list-item-content p {
    color: #121212;
    margin-top: 5px;
}

/* 보드 맴버 초대 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchMember {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #4d4c99;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchMemberButton {
    width: 40px;
    height: 36px;
    border: 1px solid #4d4c99;
    background: #4d4c99;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.invite-member-setting-btn {
    background-color: #8080ff;
    width: 2rem;
    height: 2rem;

    border-radius: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container {
    margin: 0;
    padding: 0;
}

.collapse,
.collapse.show,
.collapsing {
    background-color: #4d4c99;
    padding: 5px 5px 0 5px;
}

.dropdown-toggle-no-arrow::after {
    display: none;
}

.dropdown-menu {
    background-color: gray;
}

.dropdown-menu a {
    font-weight: bold;
}

