.container {
    height: 450px;
}

.rightbox {
    height: 90%;
}

#update-password-button {
    float: right;
    margin-right: 15px;
    background-color: #1e90ff;
    color: white;
    box-shadow: 1px 1px 1px rgba(119, 119, 119, .5);
    border-radius: 5px;
    border-color: transparent;
}

#update-password-button:active {
    margin-top: 1px;
    margin-right: 14px;
    box-shadow: none;
}