<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Board</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/board.css"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="icon" href="/images/o-solid.png">

</head>

<body>
<script src="/js/board.js"></script>
<script src="/js/utils.js"></script>
<!-- Masthead -->
<header class="masthead">

    <div class="boards-menu">

        <!--            <button class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>Boards</button>-->

        <button class="boards-btn btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                class="fab fa-trello boards-btn-icon"></i>Boards
        </button>
        <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1"
             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header" style="padding:25px">
                <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">My Boards</h1>
                <div class="user-settings-btn">
                    <!--                        <button class="user-settings-btn btn" aria-label="Create">-->
                    <button class="user-settings-btn btn" aria-label="Create" id="openModalBtn">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    <div id="myModal" class="modal" style="justify-content: center;
                        align-items: center;margin: 0;">
                        <form id="boardForm">
                            <div class="modal-content">
                                <span class="close" style="margin-left: auto">&times;</span>
                                <h1>Create Board</h1>
                                <h3>Board Title</h3>
                                <input type="text" id="title" name="title" placeholder="Enter title">
                                <h3>Content</h3>
                                <input type="text" id="description" name="description" placeholder="Enter description">
                                <div class="buttons-container">
                                    <!--                                <button class="cancelBtn" id="cancelBtn">Cancel</button>-->
                                    <!--                                <button class="close">Cancel</button>-->
                                    <!--                                <button type="confirmBtn" id="confirmBtn" onclick="postBoard()">Confirm</button>-->
                                    <button id="confirmBtn">Confirm</button>
                                </div>
                            </div>
                        </form>
                        <!--                            <div id="responseMessage"></div>-->
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div id="boardList" class="offcanvas-body boardList">
                <h3>Board List</h3>
                <div id="getboard">
                    <button type="button" class="btn btn-light" value="boardTitle" id="boardTitle">boardTitle</button>
                    <span hidden="hidden">boardId</span>
                </div>
            </div>
        </div>
        <div class="board-search">
            <input type="search" class="board-search-input" aria-label="Board Search">
            <i class="fas fa-search search-icon" aria-hidden="true"></i>
        </div>
    </div>

    <div class="logo">

        <h1 onclick=window.location.href="/okw/view/boards/board"><i class="fab fa-trello logo-icon" aria-hidden="true"></i>Okowan</h1>

    </div>

    <div class="user-settings">
        <button class="user-settings-btn btn" aria-label="plus" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#inviteMemberoffcanvasScrolling" aria-controls="offcanvasScrolling">
            <i class="fas fa-plus" aria-hidden="true"></i>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="inviteMemberoffcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="inviteMemberoffcanvasScrollingLabel">맴버 초대</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- search -->
                <div class="inviteMemberwrap">
                    <div class="searchMember">
                        <input type="text" class="searchTerm" placeholder="초대할 맴버의 이메일을 입력하세요">
                        <button type="submit" class="searchMemberButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="member-list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
                    <ul class="member-list" id="invite-member-list">

                    </ul>
                </div>
            </div>
        </div>

        <button class="user-settings-btn btn" aria-label="Information">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
        </button>

        <button class="user-settings-btn btn" id="showAlert" aria-label="Notifications" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#showAlertoffcanvasScrolling"
                aria-controls="offcanvasScrolling">
            <i class="fas fa-bell" aria-hidden="true"></i>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="showAlertoffcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="showAlertoffcanvasScrollingLabel">알림</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="alert-list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
                    <ul class="alert-list" id="alert-list">

                    </ul>
                </div>
            </div>
        </div>

        <button class="user-settings-btn btn" aria-label="User Settings" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark user-menu-offcanvas" tabindex="-1" id="offcanvasRight"
             aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h1 id="offcanvasRightLabel">User Menu</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="circle-container">
                    <div class="circle">
                        <img class="profile-img"
                             src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg">
                    </div>
                </div>
                <div>
                    <button class="user-menu-btn" id="user-menu-profile">My Profile</button>
                </div>
                <div>
                    <button class="user-menu-btn" id="user-menu-password">Change Password</button>
                </div>
                <div>
                    <button class="user-menu-btn" id="user-menu-logout">Logout</button>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- End of masthead -->

<!-- Board info bar -->
<section class="board-info-bar">

    <div class="board-controls">

        <button class="board-title btn" id="board-title-button" board-id="">
            <h2 id="board-title">Main Board</h2>
        </button>

        <button class="personal-btn btn" onclick="changeBoardTitle()">Update</button>
        <button class="private-btn btn" onclick="deleteBoard()">Delete</button>
    </div>

    <button class="showMember-menu-btn btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#showMemberoffcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="fas fa-ellipsis-h menu-btn-icon" aria-hidden="true"></i>Show Member
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="showMemberoffcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="showMemberoffcanvasScrollingLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="member-list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
                <ul class="member-list" id="member-list">

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of board info bar -->

<!-- Lists container -->
<section class="lists-container" id="board-content">


</section>
<!-- End of lists container -->
</body>
</html>