<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Board</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>


<body>
<script src="/js/index.js"></script>
<!-- Masthead -->
<header class="masthead">

    <div class="boards-menu">

        <!--            <button class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>Boards</button>-->

        <button class="boards-btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fab fa-trello boards-btn-icon"></i>Boards</button>
        <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header" style="padding:25px">
                <div class="offcanvas-header-container">
                    <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">My Boards</h1>
                </div>
                <div id="myModal" class="modal" style="justify-content: center;
                        align-items: center;margin: 0;">
                    <form id="boardForm">
                        <div class="modal-content">
                            <span class="close" style="margin-left: auto">&times;</span>
                            <h1>Create Board</h1>
                            <h3>Board  Title</h3>
                            <input type="text" id="title" name="title" placeholder="Enter title">
                            <h3>Content</h3>
                            <input type="text" id="description" name="description" placeholder="Enter description">
                            <div class="buttons-container">
                            <button id="confirmBtn">Confirm</button>
                            </div>
                        </div>
                        </form>
                    </div>
                <!--                    </div>-->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div id="boardList" class="offcanvas-body boardList">
                <div class="boardListTitle">
                    <button type="button" class="btn btn-light" value="boardTitle" id="boardTitle" style="width:170px">#BOARD_LIST</button>
                    <span hidden="hidden">boardId</span>
                    <button class="user-settings-btn btn" aria-label="Create" id="openModalBtn" style="height: 50px;width: 50px;">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="board-search">
            <input type="search" class="board-search-input" aria-label="Board Search">
            <i class="fas fa-search search-icon" aria-hidden="true"></i>
        </div>
    </div>

    <div class="logo">

        <h1><i class="fab fa-trello logo-icon" aria-hidden="true"></i>Okowan</h1>

    </div>

    <div class="user-settings">
        <button class="user-settings-btn btn" aria-label="plus" type="button" data-bs-toggle="offcanvas" data-bs-target="#inviteMemberoffcanvasScrolling" aria-controls="offcanvasScrolling">
            <i class="fas fa-plus" aria-hidden="true"></i>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="inviteMemberoffcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="inviteMemberoffcanvasScrollingLabel">맴버 초대</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="member-list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
                    <div class="input-group m-auto mt-3 mb-5">
                        <input type="text" id="searchMember" class="form-control" style="border:1px solid black" placeholder="이메일을 입력하세요" aria-label="ico_search"
                               aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button"
                                id="button-addon2" style="color:black; font-weight:bold; border:1px solid black">검색</button>
                    </div>
                    <ul class="member-list" id="invite-member-list">
                        <!--<li class="member-list-item">
                            <div>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg" class="member-list-item-image">
                            </div>
                            <div class="member-list-item-content">
                                <h4>Hitesh Kumar</h4>
                                <p>@hk-skit</p>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>

        <button class="user-settings-btn btn" aria-label="Information">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
        </button>

        <button class="user-settings-btn btn" aria-label="Notifications">
            <i class="fas fa-bell" aria-hidden="true"></i>
        </button>

        <button class="user-settings-btn btn" aria-label="User Settings">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
        </button>

    </div>

</header>
<!-- End of masthead -->

<!-- Board info bar -->
<section class="board-info-bar">

    <div class="board-controls">

        <button class="board-title btn" id="board-title-button" board-id="">
            <h2 id="board-title">Web Development</h2>
        </button>

        <button class="star-btn btn" aria-label="Star Board">
            <i class="far fa-star" aria-hidden="true"></i>
        </button>

        <button class="personal-btn btn">Personal</button>

        <button class="private-btn btn"><i class="fas fa-briefcase private-btn-icon"
                                           aria-hidden="true"></i>Private</button>
    </div>

    <button class="showMember-menu-btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#showMemberoffcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="fas fa-ellipsis-h menu-btn-icon" aria-hidden="true"></i>Show Member</button>

    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="showMemberoffcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="showMemberoffcanvasScrollingLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="member-list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
                <ul class="member-list" id="member-list">
                    <!--<li class="member-list-item">
                        <div>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg" class="member-list-item-image">
                        </div>
                        <div class="member-list-item-content">
                            <h4>Hitesh Kumar</h4>
                            <p>@hk-skit</p>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of board info bar -->

<!-- Lists container -->
<section class="lists-container" id="board-content">
    <div class="list" style="width:465px">

        <h3 class="list-title" style="font-size: 28px;">#OKOWAN</h3>
        <ul class="list-items">
            <li class="card__item">
               <div class="develop__image" style="background-image: url('/images/developer image.jpeg')"></div>
            </li>
        </ul>
    </div>
</section>
<!-- End of lists container -->
</body>
</html>