<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- 스타일시트 -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/password.css">

    <!-- 스타일시트 -->
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/password.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

</head>
<body>
<script src="/js/password.js"></script>
<div class="container">
    <div id="logo"><h1 class="logo">OKOWAN</h1>
    </div>
    <div class="rightbox">
        <div class="profile">
            <h1>Password Change</h1>
            <h2>current password</h2>
            <p>
                <input type="password" id="current-password" placeholder="현재 비밀번호">
            </p>
            <h2>new password</h2>
            <p>
                <input type="password" id="new-password" placeholder="새 비밀번호">
            </p>
            <h2>confirm new password</h2>
            <p>
                <input type="password" id="confirm-new-password" placeholder="새 비밀번호 확인">
            </p>
        </div>
    </div>
    <div>
        <button id="update-password-button">비밀번호 수정</button>
    </div>
</div>
</body>
</html>